.button {
  padding: 11px 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: $alter-font-stack;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $leaf;
  border: none;

  cursor: pointer;

  @media ($tablet) {
    padding: 14px 27px 18px;
    font-size: 20px;
    line-height: 1;
  }

  &:hover,
  &:focus {
    background-color: $grass;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--alter {
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 20px;
  }

  &--light {
    color: $greyish-brown;
    background-color: $white-two;
  }
}
