.catalog {
  margin-bottom: 29px;

  @media ($tablet) {
    margin-right: 30px;
    margin-bottom: 39px;
    margin-left: 30px;
  }

  @media ($desktop) {
    width: $desk-container-width;
    margin-right: auto;
    margin-bottom: 44px;
    margin-left: auto;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    margin-left: -60px;
  }

  @media ($desktop) {
    margin-left: -80px;
  }
}

.catalog__item {
  margin-bottom: -1px;

  @media ($tablet) {
    margin-bottom: 29px;
    margin-left: 60px;
  }

  @media ($desktop) {
    margin-bottom: 31px;
    margin-left: 80px;
  }
}

.catalog-additional__patch-wrapper {
  background-color: #0faa0f;
}
