.contacts {
  margin-bottom: 0;
  padding: 29px 0 0;

  &--alter {
    background-color: $white-two;
  }

  @media ($tablet) {
    padding-top: 64px;
  }

  @media ($desktop) {
    padding-top: 0;
    position: relative;
  }
}

.contacts__info {
  display: flex;
  margin-bottom: 25px;

  @media ($tablet) {
    padding-right: 41px;
    padding-left: 41px;
    margin-bottom: 56px;
  }

  @media ($desktop) {
    position: absolute;
    top: 93px;
    left: 110px;
    z-index: 3001;

    box-sizing: border-box;
    width: 570px;
    padding: 66px 76px 58px 76px;

    background-color: #ffffff;
  }
}

.contacts__lead {
  flex-shrink: 0;
  width: 44%;
  margin: 0 19px 0 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: $alter-font-stack;
  color: $black-three;
  text-transform: uppercase;

  @media ($tablet) {
    width: 35%;
    margin-right: auto;
    font-size: 20px;
    line-height: 25px;
  }

  @media ($desktop) {
    width: 150px;
    margin-right: 100px;
    padding-top: 2px;
  }
}

.contacts__address {
  margin: 0;
  padding: 0;

  font-style: normal;
  line-height: 20px;

  @media ($tablet) {
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 20px;
    text-align: right;
  }

  @media ($desktop) {
    width: 220px;
    text-align: left;
  }

  &::first-letter {
    @media ($desktop) {
      text-transform: lowercase;
    }
  }
}

.contacts__address-part {
  &--PP {
    @media ($tablet) {
      margin-top: 19px;
    }
  }
}

.contacts__map {
  height: 362px;

  @media ($tablet) {
    height: 396px;
  }

  @media ($desktop) {
    height: 399px;
  }
}

.contacts__map-fallback {
  display: none;

  &--nojs {
    position: relative;
    display: table;
    margin: 0 auto;

    ::before {
      content: "";
      position: absolute;
      top: 141px;
      left: 132px;

      width: 55px;
      height: 53px;

      background-image: url("../img/map-pin.png");
      background-repeat: no-repeat;
      background-size: contain;

      @media ($tablet) {
        top: 146px;
        left: 319px;
        width: 124px;
        height: 106px;
      }

      @media ($desktop) {
        top: 150px;
        left: 69.3%;
      }
    }
  }
}

.contacts__map-fallback img {
  width: 320px;
  height: 362px;
  margin: 0;
  padding: 0;

  @media ($tablet) {
    width: 762px;
    height: 396px;
  }

  @media ($desktop) {
    width: 100%;
    max-width: 1440px;
    height: 399px;
  }
}
