.copyrights {
  display: flex;
  padding: 22px 0 10px;

  @media ($tablet) {
    padding: 0;
  }
}

.copyrights__text {
  padding-top: 8px;

  font-size: 16px;
  line-height: 1;
  color: $greyish-brown;
  text-decoration: none;

  @media ($tablet) {
    margin-right: 23px;
  }

  &:hover,
  &:focus {
    color: $leaf;

    & .copyrights__logo-academy {
      color: inherit;
    }
  }

  &:active {
    opacity: 0.1;
  }
}


.copyrights__logo-wrpapper {
  margin-left: auto;
}

.copyrights__logo-academy {
  display: block;
  color: $brownish-grey;

  &:hover,
  &:focus {
    color: $leaf;

    & .copyrights__logo-academy {
      color: inherit;
    }
  }

  &:active {
    opacity: 0.1;
  }

  & svg {
    display: block;
    fill: currentColor;
  }
}
