.example {
  padding-top: 17px;
  padding-bottom: 35px;
  background-color: $white-two;

  @media ($tablet) {
    padding-top: 5px;
    padding-bottom: 2px;
    background-color: transparent;
  }

  @media ($desktop) {
    position: relative;
    padding-top: 56px;
    padding-bottom: 0;
  }
}

.example__heading {
  margin-bottom: 23px;

  @media ($tablet) {
    margin-bottom: 64px;
  }

  @media ($desktop) {
    box-sizing: border-box;
    margin-bottom: 75px;
    padding-right: $desk-container-width / 2;
  }
}

.example__inner {
  margin-bottom: 35px;

  @media ($tablet) {
    margin-bottom: 61px;
  }

  @media ($desktop) {
    box-sizing: border-box;
    margin-bottom: 0;
    padding-top: 71px;
    padding-bottom: 74px;
    background-color: $white-two;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 10px 0 0;

  @media ($tablet) {
    margin-bottom: 53px;
  }

  @media ($desktop) {
    margin-bottom: 68px;
    padding-right: 782px;
  }
}

.example__results {
  @media ($tablet) {
    display: flex;
  }

  @media ($desktop) {
    display: block;
  }
}

.example__table {
  margin-top: 0;
  margin-bottom: 19px;

  @media ($tablet) {
    width: calc(50% + 12px);
  }

  @media ($desktop) {
    width: auto;
    margin-bottom: 45px;
    padding-right: 782px;
  }
}

.example__total-cost {
  margin-top: 0;
  margin-bottom: 0;

  font-family: $alter-font-stack;
  text-align: center;
  text-transform: uppercase;
  color: $black-three;

  @media ($tablet) {
    margin-left: auto;
    font-size: 20px;
    line-height: 1;
    text-align: right;
  }

  @media ($desktop) {
    display: flex;
    justify-content: flex-start;
    padding-right: 782px;
    text-align: left;
  }
}

.example__total-cost-string {
  @media ($tablet) {
    display: block;
    padding-top: 10px;
  }

  @media ($desktop) {
    margin-right: 64px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.example__slider {
  width: 320px;
  margin: 0 auto;

  @media ($tablet) {
    width: 768px;
  }

  @media ($desktop) {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    width: calc(50% + 70px);
  }
}
