.form {
  font-family: $alter-font-stack;
}

.form__intro {
  padding: 0;
  text-transform: uppercase;

  @media ($tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text-input-group {
  border: none;

  &--columns {
    @media ($desktop) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__radio-input-group {
  padding: 20px;
  border: none;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  @media ($tablet) {
    padding: 24px 28px;
    border: 1px solid #ededed;
  }
}

.form__text-inputs-group-wrapper {
  @media ($desktop) {
    display: flex;
  }
}

.form__check-inputs-group-wrapper {
  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__check-input-group {
  padding: 0;
  border: none;
}

.form__columns {
  @media ($desktop) {
    display: flex;
  }
}

.form__column {
  align-self: flex-start;
  flex-shrink: 0;

  &:nth-of-type(odd) {
    @media ($desktop) {
      width: 570px;
      margin-right: auto;
    }
  }

  &:nth-of-type(even) {
    @media ($desktop) {
      box-sizing: border-box;
      width: 570px;
      margin-right: 0;
    }
  }
}

.form__label {
  position: relative;

  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @media ($tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  &--text-couple {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 14px;

    @media ($tablet) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--radio-couple {
    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--check-couple {
    margin-bottom: 13px;

    @media ($tablet) {
      width: calc(50% - 20px);
      margin-right: 36px;
      margin-bottom: 32px;
    }

    @media ($desktop) {
      width: 245px;
      margin-right: 80px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(even) {
      @media ($tablet-max) {
        margin-right: 0;
      }
    }

    &:nth-of-type(4n) {
      @media ($desktop) {
        margin-right: 0;
      }
    }

    &:nth-last-of-type(-n + 2) {
      @media ($tablet) {
        margin-bottom: 0;
      }
    }

    &:nth-last-of-type(-n + 4) {
      @media ($desktop) {
        margin-bottom: 0;
      }
    }
  }

  &--column {
    @media ($desktop) {
      width: calc(50% - 40px);
      margin-right: auto;
    }

    &:nth-of-type(even) {
      @media ($desktop) {
        margin-right: 0;
      }
    }

    &:nth-last-of-type(-n + 2) {
      @media ($desktop) {
        margin-bottom: 0;
      }
    }
  }
}

.form__label--radio-couple:hover .form__control-indicator,
.form__radio-input:focus + .form__control-indicator {
  border-color: #bababa;
}

.form__label--radio-couple:active,
.form__radio-input:active + .form__control-indicator,
.form__radio-input:active ~ .form__label-text {
  opacity: 0.3;
}

.form__label--check-couple:hover .form__control-indicator,
.form__checkbox-input:focus + .form__control-indicator {
  border-color: #bababa;
}

.form__label--check-couple:active,
.form__checkbox-input:active + .form__control-indicator,
.form__checkbox-input:active ~ .form__label-text {
  opacity: 0.3;
}

.form__label-text {
  align-self: center;
}

.form__text-input {
  flex-grow: 1;
  margin-left: 13px;
  padding: 13px 14px 12px;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid rgba($pinkish-grey, 0.5);

  @media ($tablet) {
    margin-left: 17px;
    padding: 9px 18px 11px;
  }

  &--error {
    padding: 12px 13px 11px;
    border-width: 2px;
    border-color: $peachy-pink;

    @media ($tablet) {
      padding: 8px 17px 10px;
    }
  }

  &:hover {
    border-color: $pinkish-grey;
  }

  &:focus {
    padding: 12px 13px 11px;
    border-width: 2px;
    border-color: $greyish-brown;
    outline: none;

    @media ($tablet) {
      padding: 8px 17px 10px;
    }
  }
}

.form__text-input:focus + .form__input-icon {
  fill: $leaf;
}

.form__text-input--error + .form__input-icon {
  fill: $peachy-pink;
}

.form__radio-input + .form__control-indicator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;

  border: 1px solid $pinkish-grey;
  border-radius: 50%;

  @media ($tablet) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.form__radio-input:checked + .form__control-indicator {
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $leaf;

    @media ($tablet) {
      width: 18px;
      height: 18px;
    }
  }
}

.form__input-icon {
  position: absolute;
  display: table;

  &--email {
    right: 15px;
    top: 15px;

    @media ($tablet) {
      right: 21px;
      top: 20px;
    }
  }

  &--tel {
    right: 12px;
    top: 12px;

    @media ($tablet) {
      right: 18px;
      top: 17px;
    }
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 14px 10px 10px 14px;

  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;

  border: 1px solid rgba($pinkish-grey, 0.5);

  resize: none;

  @media ($tablet) {
    padding: 10px 18px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: inherit;
  }

  &:hover {
    border-color: $pinkish-grey;
  }

  &:focus {
    padding: 13px 9px 9px 12px;
    border-width: 2px;
    border-color: $greyish-brown;
    outline: none;

    @media ($tablet) {
      padding: 9px 17px;
    }
  }
}

.form__checkbox-input + .form__control-indicator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 16px;

  border: 1px solid $pinkish-grey;

  @media ($tablet) {
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }
}

.form__checkbox-input + .form__control-indicator svg {
  width: 22px;
  height: 17px;
  fill: $leaf;

  @media ($tablet) {
    width: 21px;
    height: 16px;
  }
}

.form__checkbox-input:not(:checked) + .form__control-indicator svg {
  display: none;
}

.form__footer {
  @media ($tablet) {
    display: flex;
  }
}

.form__submit-button {
  width: 100%;
  margin-bottom: 21px;

  @media ($tablet) {
    align-self: flex-start;
    flex-shrink: 0;
    width: calc(50% - 30px);
    margin-right: 51px;
    padding-top: 15px;
    padding-bottom: 17px;

    font-size: 20px;
    line-height: 20px;
  }

  @media ($desktop) {
    width: 568px;
    margin-right: 73px;
  }
}

.form__notation {
  font-size: 14px;
  line-height: 16px;
  font-family: $main-font-stack;
  text-align: center;

  @media ($tablet) {
    width: 50%;
    padding: 16px 10px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  // @media ($desktop) {

  // }
}
