.heading {
  margin-top: 0;
  font-weight: 400;
  font-family: $alter-font-stack;
  color: $black-three;

  &--h2 {
    font-size: 36px;
    line-height: 60px;

    @media ($tablet) {
      font-size: 60px;
      line-height: 1;
    }
  }

  &--h3 {
    font-size: 24px;
    line-height: 1;

    @media ($tablet) {
      font-size: 36px;
      line-height: 1;
    }
  }

  &--line-style {
    position: relative;
    display: flex;

    &::before {
      @media ($tablet) {
        content: "";
        flex-shrink: 0;
        min-width: 28px;
        height: 3px;
        margin-top: 0.45em;
        margin-right: 39px;


        background-color: $leaf;
        transform: translateY(4px);
      }

      @media ($desktop) {
        min-width: 28px;
        width: calc(50% - 650px);
        transform: translateY(5px);
      }
    }

    &::after {
      content: "";
      flex-grow: 1;
      flex-shrink: 0;
      min-width: 52px;
      height: 3px;
      margin-top: 0.45em;
      margin-left: 22px;


      background-color: $leaf;
      transform: translateY(3px);

      @media ($tablet) {
        margin-left: 37px;
        transform: translateY(4px);
      }

      @media ($desktop) {
        min-width: 52px;
        width: calc(50% - 650px);
        transform: translateY(5px);
      }
    }
  }
}
