.logo {
  &[href] {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.logo__image {
  display: block;
  width: 191px;
  height: 39px;

  @media ($tablet) {
    width: 174px;
    height: 59px;
  }

  @media ($desktop) {
    width: 203px;
    height: 60px;
  }

  &--simple {
    width: 128px;
    height: 24px;

    @media ($tablet) {
      width: 128px;
      height: 24px;
    }
  }
}
