.page-footer {
  padding: 39px 0 10px;
  background-color: $white-two;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}

.page-footer__social-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  padding: 22px 0 17px 0;

  border-top: 1px solid rgba($greyish-brown, 0.1);
  border-bottom: 1px solid rgba($greyish-brown, 0.1);
}

.page-footer__social {
  margin: 0 0 0 -12px;
}

.page-footer__copyrights {
  margin-top: 0;
  margin-bottom: 0;
}
