.simple-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media ($desktop) {
    justify-content: flex-start;
  }
}

.simple-table__cell {
  width: calc(50% - 16px);

  @media ($tablet) {
    width: calc(50% - 21px);
  }

  @media ($desktop) {
    width: 162px;
    margin-right: 42px;
  }
}

.simple-table__value {
  padding: 13px 10px 17px;

  font-size: 24px;
  line-height: 1;
  font-family: $alter-font-stack;
  color: $black-three;
  text-align: center;
  text-transform: uppercase;

  border: solid 1px $pinkish-grey;
  border-radius: 3px;

  @media ($tablet) {
    padding: 15px 15px 18px;
    font-size: 30px;
    line-height: 37px;
  }
}

.simple-table__description {
  position: relative;

  box-sizing: border-box;
  display: table;
  max-width: calc(100% - 38px);
  margin: -8px auto 0;
  padding: 0 10px;

  font-size: 12px;
  line-height: 1;
  text-align: center;

  background-color: $white-two;

  @media ($tablet) {
    max-width: calc(100% - 16px);
    padding: 0 6px;
    font-size: 14px;
    background-color: #ffffff;
  }

  @media ($desktop) {
    background-color: $white-two;
  }
}
