.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 354px;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 40px;

  @media ($tablet) {
    margin-right: 28px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  color: $brownish-grey;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  display: block;

  & svg {
    display: block;
    fill: currentColor;
  }

  &--vk {
    & svg {
      width: 22px;
      height: 12px;

      @media ($tablet) {
        width: 30px;
        height: 16px;
      }
    }
  }

  &--inst {
    & svg {
      width: 17px;
      height: 17px;

      @media ($tablet) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--fb {
    & svg {
      width: 10px;
      height: 19px;

      @media ($tablet) {
        width: 14px;
        height: 28px;
      }
    }
  }
}
