// Screen resulutions
$phone-max: "max-width: 767px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1300px";
$retina-2: "min-resolution: 1.5dppx";

// sizes
$desk-container-width: 1220px;

// Variables for improvement
// $mob-container-margins: ;
// $tablet-container-margins: ;


// Fonts
$main-font-stack: "Arial", sans-serif;
$alter-font-stack: "Oswald", "Arial", sans-serif;

// Colors
$white-two: #f2f2f2;
$black-two: #222222;
$pinkish-grey: #cdcdcd;
$brownish-grey: #666666;
$black-three: #111111;
$leaf: #68b738;
$peachy-pink: #ff8282;
$greyish-brown: #444444;
$grass: #5eaa2f;
$white-30: rgba(255, 255, 255, 0.3);
$white: #ffffff;
$black-three-30: rgba(17, 17, 17, 0.3);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$white-three: #ebebeb;
$black-two-30: rgba(34, 34, 34, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
